<html>	
	<head>
		<title>Cspectra</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
		<link rel="stylesheet" href="css/bootstrap-grid.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
	</head>
	<body class="container">
		<div class = 'row pane'>
			<a href="{{url_for('homePage')}}"><h1>Cspectra</h1></a><br>
			<h2>{{category.name}}|{{article.title}}</h2>

					<iframe class="embeded-video" width="100%" height="415" src="{{article.embeded_code}}?&autoplay=1" frameborder="0" allowfullscreen></iframe>

				<p>{{article.text}}</p>
	
				</br>
				</br>
				
			</br></br>	
		</div>
	</body>
</html>
